<div class="dashboard-wrapper">
  <div class="header-wrapper color-bg-green">
    <app-header></app-header>
  </div>
  <div class="body-wrapper">
    <div class="sidebar-wrapper color-bg-dark">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-body-wrapper">
      <button mat-fab class="add-round-btn" (click)="openModelForAddNotification()" matTooltip="Add Notification">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="add-round-button-icon">
          <path fill="white"
            d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z">
          </path>
        </svg>
      </button>
      <mat-card class="round-detail-wrapper">
        <table class="table table-hover table-min-width">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>
                <span matTooltip="Sort by Notification" class="sort" (click)="changeOrder('alert_data',order)"
                  mattooltipposition="below">Notification &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span>Create Time</span>
              </th>
              <th class="text-center">
                <span>Update Time</span>
              </th>
              <th class="text-center">
                <span>Action</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="data_fetch_error != null">
              <td colspan="8">{{ data_fetch_error }}</td>
            </tr>
            <tr *ngFor="let row of data;let i = index">
              <!-- <td>{{ row.notify_id }}</td> -->
              <td>{{ row.index }}</td>
              <!-- <td>{{ row.alert_data }}</td> -->
              <td>
                <mat-form-field class="notification-field">
                  <textarea matInput [value]="row.alert_data" disabled></textarea>
                </mat-form-field>
              </td>
              <td class="text-center">{{ row.create_time | toLocalTime }}</td>
              <td class="text-center">{{ row.update_time | toLocalTime }}</td>
              <td class="text-center">
                <button mat-raised-button class="action-button" matTooltip="Update Notification"
                  mattooltipposition="below" (click)="openModelForUpdateNotification(row)">
                  <img src="./assets/images/update-icon.svg" class="action-icon-small" />
                </button>
                <button mat-raised-button class="action-button" (click)="deleteNotification(row.notify_id)"
                  matTooltip="Delete Notification" mattooltipposition="below">
                  <img src="./assets/images/trash-icon.svg" class="action-icon" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>
