.add-round-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    outline: none;
    background-color: #36434F;
  }
  
  .add-round-button-icon {
    width: 25px;
    height: 25px;
  }
  
  .round-detail-wrapper {
    width: 100%;
    max-height: calc(100% - 75px);
    overflow: auto;
    padding: 0px;
  }
  
  .round-detail-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }
  
  .round-detail-wrapper::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 15px;
    background-color: #3AAFA9;
  }
  
  .table-min-width td,
  .table-min-width th {
    white-space: nowrap;
  }
  
  .table .thead-dark th {
    background-color: #36434F;
    color: white;
    font-family: 'Poppins-Light';
    font-size: 14px;
    position: sticky;
    top: -1px;
    z-index: 15;
  }
  
  .table {
    width: 100%;
    min-width: 1000px;
  }
  
  .sort {
    cursor: pointer;
  }
  
  .sort-icon {
    width: 15px;
    height: 15px;
  }
  
  .action-button {
    padding: 0px;
    outline: none;
    background-color: transparent;
    min-width: unset !important;
    width: 40px;
    height: 40px;
    box-shadow: none;
    cursor: pointer;
  }
  
  .action-icon {
    width: 25px;
    height: 25px;
    margin: 0px 5px;
  }
  
  .action-icon-small {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
  }
  
  .hide {
    display: none;
  }
  
  .update-row-input {
    height: 35px;
    border-radius: 30px;
    border: 01px solid #cdcdcd;
    outline: none;
    font-family: 'Poppins-Light';
    font-size: 14px;
    padding: 0px 10px;
  }
  
  .update-action-button {
    width: 60px;
    height: 30px;
    line-height: 30px;
    outline: none;
    min-width: unset !important;
    font-size: 12px;
    font-family: 'Poppins-Light';
    border-radius: 40px;
    color: white;
    margin: 0px 5px;
    padding: 0px;
  }
  
  .red {
    background-color: #D85145;
  }
  
  .per-page-dropdown {
    width: 75px;
    padding: 7px;
    border-radius: 5px;
    font-size: 14px;
    color: #36434F;
    font-family: 'Poppins-Light';
    font-weight: bold;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
  }
  
  .keyword-field {
    max-width: 425px;
    width: 100%;
  }