<div class="dashboard-wrapper">
  <div class="header-wrapper color-bg-green">
    <app-header></app-header>
  </div>
  <div class="body-wrapper">
    <div class="sidebar-wrapper color-bg-dark">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-body-wrapper">
      <button mat-fab class="add-debit-btn" (click)="openModelForAddDebit()" matTooltip="Add Debit">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="add-debit-button-icon">
          <path fill="white"
            d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z">
          </path>
        </svg>
      </button>
      <mat-card class="debit-detail-wrapper">
        <table class="table table-hover table-min-width">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>
                <span matTooltip="Sort by Expense Number" class="sort" (click)="changeOrder('expenses_no',order)"
                  mattooltipposition="below">Expense Number &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th>
                <span matTooltip="Sort by Expense Name" class="sort" (click)="changeOrder('expenses_name',order)"
                  mattooltipposition="below">Expense Name &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span matTooltip="Sort by Expense Price" class="sort" mattooltipposition="below"
                  (click)="changeOrder('expenses_price',order)">Expense Price &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span matTooltip="Sort by Transaction Percentage" class="sort" mattooltipposition="below"
                  (click)="changeOrder('trans_per',order)">Transaction Percentage &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span matTooltip="Sort by Coins" class="sort" mattooltipposition="below"
                  (click)="changeOrder('coins',order)">Coins &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span matTooltip="Sort by Amount" class="sort" mattooltipposition="below"
                  (click)="changeOrder('amount',order)">Amount &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span matTooltip="Sort by Invite Amount" class="sort" mattooltipposition="below"
                  (click)="changeOrder('invite_amt',order)">Invite Amount &nbsp;
                  <img src="./assets/images/sort-icon.svg" class="sort-icon" />
                </span>
              </th>
              <th class="text-center">
                <span>Create Time</span>
              </th>
              <th class="text-center">
                <span>Action</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="data_fetch_error != null">
              <td colspan="8">{{ data_fetch_error }}</td>
            </tr>
            <tr *ngFor="let row of data;let i = index">
              <!-- <td>{{ row.debit_id }}</td> -->
              <td>{{ row.index }}</td>
              <td class="text-center">{{ row.expenses_no }}</td>
              <td class="text-center">{{ row.expenses_name }}</td>
              <td class="text-center">{{ row.expenses_price }}</td>
              <td class="text-center">{{ row.trans_per }}</td>
              <td class="text-center">{{ row.coins }}</td>
              <td class="text-center">{{ row.amount }}</td>
              <td class="text-center">{{ row.invite_amt }}</td>
              <td class="text-center">{{ row.create_time | toLocalTime }}</td>
              <td class="text-center">
                <button mat-raised-button class="action-button" matTooltip="Update Debit Details"
                  mattooltipposition="below" (click)="openModelForUpdateDebit(row)">
                  <img src="./assets/images/update-icon.svg" class="action-icon-small" />
                </button>
                <button mat-raised-button class="action-button" (click)="deleteDebitDetail(row.debit_id)"
                  matTooltip="Delete Debit Details" mattooltipposition="below">
                  <img src="./assets/images/trash-icon.svg" class="action-icon" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>
